.home-welcome-screen {
  background-color: #dcdcdc;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 40px;
  width: 1200px;
  color: #4d4d4d;
}

.title p {
  margin-top: 5px;
}

.title-container .scroll-down {
  opacity: 50%;
}

.title-first-line {
  font-size: larger;
}

@keyframes title-visibility {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.title-container {
  display: flex;
  animation-name: title-visibility;
  animation-duration: 2s;
}

.home-a-catalogue-container {
  height: 100vh;
  display: flex;
  position: sticky;
  right: 0;
  top: 0;
  align-items: center;
  width: 100vw;
  transition: all 1s;
}

.home-a-catalogue {
  height: 500px;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.home-a-catalogue .a-container {
  margin: 0 100px;
}
.a-container p {
  margin-top: 30px;
  font-style: italic;
}

.a-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter-reference-photo {
  position: absolute;
  top: 200px;
  opacity: 0;
  transition: all 1s;
}

.home-letter:hover + .letter-reference-photo {
  opacity: 100%;
}

.home-a-catalogue a {
  width: 200px;
}

.home-closing-section-container {
  height: 2700px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.home-closing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-closing-section img {
  width: 100%;
  opacity: 50%;
}

.home-closing-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  font-size: 30px;
  z-index: 200;
  margin-bottom: 50px;
}

.home-closing-section li {
  margin: 0 20px;
}
