nav ul,
nav {
  display: flex;
}
nav ul {
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

nav {
  background-color: #dcdcdc;
  position: fixed;
  z-index: 500;
  width: 100vw;
  top: 0;
  align-items: end;
  padding-bottom: 10px;
  justify-content: space-between;
  transition: all 1s;
}

nav li {
  list-style: none;
  margin: 0px 10px;
}

nav li a {
  transition: all 1s;
  border-bottom: transparent 1.5px solid;
}

nav li:hover a {
  transition: all 1s;
  border-bottom: #181818 1.5px solid;
}

nav img {
  margin: 10px 20px 0 10px;
}
