@keyframes scroll-down-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.scroll-down {
  margin-top: 50px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #181818;
  animation-name: scroll-down-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
